 <app-header></app-header>
 <p>&nbsp;</p>
 <div style="text-align:center"><h2><u>Contact Us</u></h2></div>
 

 <div id="rcorners2" class="container">
      
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
              <td><strong>Address:</strong>Test Address</td>
              
            </tr>        
            <tr>
                <td><strong>Mobile Number:</strong> +91-9876543298</td>  
              </tr>        
          
          </tbody>
        </table>

</div>
